<mat-card color="primary">
    
    <mat-card-content class="main-paragraphs">
        <p>Francisco's Pizzeria is one the most celebrated in Needville. We are renowned for our extensive selection of house-cured meats.
        </p>
    </mat-card-content>

    <mat-card-content class="main-paragraphs">
        <p>We support local businesses! We source all of our ingredients from nearby businesses.</p>
    </mat-card-content>

    <mat-card-subtitle>Reviews</mat-card-subtitle>

    <mat-card-content>
        <p>"Best pizza I've ever had!" -My mother</p>
        <p>"Not bad, son." - My father</p>
        <p>"I didn't know you could cook." -My sister</p>
    </mat-card-content>

</mat-card>
