.container
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mat-card{
    display: inline-flex;
    flex-direction: column;
} 

.main-paragraphs
{
    font-size: large;
    margin:20px;
    line-height: 35px;
}

.card-content{
    height: 100%;
}

