<div class="container">
    <mat-card color="primary">
        
        <mat-card-content class="main-paragraphs">
            Francisco's Pizzeria is one of the most celebrated in Needville. We are renowned for our extensive selection of house-cured meats.
        </mat-card-content>

        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>

        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
            We support local businesses! We source all of our ingredients from nearby businesses.
        </mat-card-content>
        <mat-card-content class="main-paragraphs">
        Testing to see if final mat card content appears.
        </mat-card-content>

    </mat-card>

    <mat-card class="bottom-card">

        <mat-card-subtitle>Reviews</mat-card-subtitle>

        <mat-card-content>"Best pizza I've ever had!" - My mother</mat-card-content>
        <mat-card-content>"Not bad, son." - My father</mat-card-content>
        <mat-card-content>I didn't know you could cook." - My sister</mat-card-content>

    </mat-card>
    
</div>
