<div class="container">
    <mat-card color="primary">
        
        <div class="card-content">

            <mat-card-title>About Us</mat-card-title>

            <mat-card-content class="main-paragraphs">
                Francisco's Pizzeria is one of the most celebrated in Needville. We are renowned for our extensive selection of house-cured meats.
            </mat-card-content>

            <mat-card-content class="main-paragraphs">
                Opened in 2014, our pizzeria is a buzzing neighborhood hotspot for locals, students, and familes. 
                We've carried on the family tradition of excellence and swank.
            </mat-card-content>

            <mat-card-content class="main-paragraphs">
                We support our town! All of our ingredients are sourced from local businesses.
            </mat-card-content>

        </div>
    </mat-card>

    <mat-card class="bottom-card">

        <div class="card-content">
            <mat-card-subtitle>Reviews</mat-card-subtitle>

            <mat-card-content>"Best pizza I've ever had!" - My mother</mat-card-content>
            <mat-card-content>"Not bad, son." - My father</mat-card-content>
            <mat-card-content>"I've been waiting on my order since 2014!" - My friend</mat-card-content>

        </div>
    </mat-card>

</div>