.main-container
{
    height: 100%;
}

.siteName
{
    font-size: 140%;
    font-family: 'Lobster', cursive, Arial, Helvetica, sans-serif;
}

.mat-toolbar
{
    height: 7.5vh;
    position: fixed;
    z-index: 2;
}

div 
{
    overflow: inherit;
}

.mat-sidenav-container
{
    min-height: 92.5vh !important;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button
{
    font-size: 110%;
    min-width: min-content;
}

.example-icon 
{
    padding: 0 14px;
}

.spacer 
{
    flex: 1 1 auto;
}

.mat-sidenav-content
{
    font-size: 200%;
    text-align: center;
    margin-top: 7.5vh;
    overflow: visible;
}

.mat-sidenav
{
    margin-top: 7.5vh;
    width:200px;
}

.side-button{
    line-height: 60px !important;
    font-size: 150% !important;
}