<div class="contact-info">
    <h1>Get In Touch</h1>
    
    <div class="horizontal-container">
        
        <div class="details-container">

            <div class="icon-wrapper">
                <div class="circle">
                    <mat-icon inline="false" aria-label="address">location_city</mat-icon>
                </div>
            </div>
            <div class="spacer"></div>
            <h2>Address</h2>
            <br><br>
            <h3>Downtown Location</h3>
            <div>123 Downtown Road</div>
            <div>Needville, TX 77461</div>
            <div class="spacer"></div>
            <h3>North Location</h3>
            <div>456 North Street</div>
            <div>Needville, TX 77461</div>
        </div>

        <div class="details-container">
                
            <div class="icon-wrapper">
                <div class="circle">
                    <mat-icon aria-label="phone">phone</mat-icon>
                </div>
            </div>
            <div class="spacer"></div>
            <h3>Phone</h3>
            <h3>Downtown Location</h3>
            <div><a href="tel:+1-123-456-7891">Phone: 123-456-7891</a></div>
            <div>Fax: 111-222-3241</div>
            <div class="spacer"></div>
            <h3>North Location</h3>
            <div><a href="tel:+1-123-456-7899">Phone: 123-456-7899</a></div>
            <div>Fax: 111-222-3232</div>
        </div>

        <div class="details-container">
            <div class="icon-wrapper">
                <div class="circle">
                    <mat-icon aria-label="email">email</mat-icon>
                </div>
            </div>
            <div class="spacer"></div>
            <h3>Email</h3>
            <h3>Dine in/Take-Out</h3>
            <div><a href="mailto:fPizzeria@gmail.com">fPizzeria@gmail.com</a></div>
            <div class="spacer"></div>
            <h3>Catering</h3>
            <div><a href="mailto:fPizzeriaCater@gmail.com">fPizzeriaCater@gmail.com</a></div>
        </div>

    </div>

</div>