<div class="contact-info">
    <h1>Get In Touch</h1>
    
    <div class="horizontal-container">
        
        <div class="details-container">

            <div class="icon-wrapper">
                <div class="circle">
                    <mat-icon inline="false" aria-label="address">location_city</mat-icon>
                </div>
            </div>
            <div class="spacer"></div>
            <h2>Address</h2>
            <h3>Downtown Location</h3>
            <div>123 Downtown Road</div>
            <div>Needville, TX 77461</div>
            <div class="spacer"></div>
            <h3>North Location</h3>
            <div>456 North Street</div>
            <div>Needville, TX 77461</div>
        </div>

        <div class="details-container">
                
            <div class="icon-wrapper">
                <div class="circle">
                    <mat-icon aria-label="phone">phone</mat-icon>
                </div>
            </div>
            <div class="spacer"></div>
            <h3>Phone</h3>
            <h3>Downtown Location</h3>
            <div><a href="tel:+1-123-456-7891">Phone: 123-456-7891</a></div>
            <div>Fax: 111-222-3241</div>
            <div class="spacer"></div>
            <h3>North Location</h3>
            <div><a href="tel:+1-123-456-7899">Phone: 123-456-7899</a></div>
            <div>Fax: 111-222-3232</div>
        </div>

        <div class="details-container">
            <div class="icon-wrapper">
                <div class="circle">
                    <mat-icon aria-label="email">email</mat-icon>
                </div>
            </div>
            <div class="spacer"></div>
            <h3>Email</h3>
            <h3>Dine in/Take-Out</h3>
            <div><a href="mailto:fPizzeria@gmail.com">fPizzeria@gmail.com</a></div>
            <div class="spacer"></div>
            <h3>Catering</h3>
            <div><a href="mailto:fPizzeriaCater@gmail.com">fPizzeriaCater@gmail.com</a></div>
        </div>

    </div>

</div>

<div class="contact-form-container">
    <mat-card>
        <mat-card-title>
            <h1>Send us a message</h1>
        </mat-card-title>

        <mat-card-content>

            <form (ngSubmit)="onSubmit(contactForm, formDirective)" [formGroup]="contactForm" #formDirective="ngForm">

                <mat-form-field color="accent" appearance = "outline">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" placeholder="Your name" matInput required minlength="2">
                    <mat-error *ngIf="contactForm.get('name').hasError('minlength') && !contactForm.get('name').hasError('required')">Name must be at least 2 characters long.</mat-error> 
                    <mat-error *ngIf="contactForm.get('name').hasError('required')">Name is <strong>required</strong></mat-error>
                </mat-form-field>
                
                <br>

                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="name@example.com" formControlName = "emailFormControl" required>
                    <mat-error *ngIf="contactForm.get('emailFormControl').invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <br>

                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea class="textarea" matInput placeholder = "What's on your mind?" formControlName="message" required></textarea>
                    <mat-error *ngIf="contactForm.get('message').hasError('required')">Message is <strong>required</strong></mat-error>
                </mat-form-field>

                <br>
                <button color ="accent" mat-raised-button type="submit" [disabled]="!contactForm.valid">Submit</button>

            </form>
        </mat-card-content>

    </mat-card>
</div>